extends layout

block content
    .main
        h1= title
            h2 Reset your password by emailing a reset link.
        form(action="/auth_sendreset" method="post")
            input(type="email", name="email", placeholder="Email", id="email")
            input(type="submit", value="Send Reset Link").submit