extends layout

block content
    .main
        h1= title
            h2 Set a new password.
        form(action="/auth_reset" method="post")
            input(type="password", name="password", placeholder="Password", id="password")
            input(type="submit", value="Reset").submit